<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Lazy Chef</h1>
	</div>
</div>

<br/>
<br/>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="input-group">  <input type="text" class="form-control" placeholder="Search for recipes here!">
  			<span class="input-group-addon glyphicon glyphicon-search" ng-click="getRecipes()"></span>
		</div>
	</div>
</div>

<br/>
<br/>

<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">
			Featured Recipes
		</h3>
		<br/>
		<div class="col-md-3">
			<p> {{ image }}</p>
			<p> {{  recipe }}</p>
			<p> onclick go to recipe</p>
			<p> ngRepeat table to get top recipes</p>
		</div>
	</div>
</div>
